.important {
    color: red;
    font-weight: bold;
}

#page-header {
    background-color: #2f2fe6;
    padding: 2rem;
}

body {
    background-color: lightyellow;
}

p {
    color: #1A1A2E;
    font-size: 16px;
}

.highlight {
    background-color: #FBEFD3;
    padding: 8px;
}

#intro {
    font-size: 22px;
    font-weight: bold;
}

.color-named {
    color: rgb(74, 74, 10)
}

.color-hex {
    color: #FF5733;
}

.color-hex2 {
    color: #4CAF50;
}

.color-rgb {
    color: rgb(166, 25, 46);
}

.color-hsl {
    color: hsl(346, 74%, 37%);
}

.color.trans {
    background-color: rgba(212, 160, 23, 0.15);
}